{% extends 'base.html' %}

{% block header_text %}My Lists{% endblock %}

{% block list_form %} {% endblock %}

{% block extra_content %}
    <h2>{{ owner.email }}'s lists</h2>
    <table>
        {% for list in owner.lists_as_owner.all %}
            <tr id="{{list.name}}">
                <td><a href="{{ list.get_absolute_url }}">{{ list.name }}</a></td>
                <td><button>"Delete"</button></td>
            </tr>
        {% endfor %}
        {% for list in owner.lists_as_shared.all %}
            <tr>
                <td><a href="{{ list.get_absolute_url }}">{{ list.name }}</a></td>
                <td><button>"Delete"</button></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}